
  <footer class="inline p-5 sm:p-3  ">
    
    <div class="container mx-auto text-center">
      <hr class="mt-5 p-3"/>
      <p>&copy; 2023 IT meet. All rights reserved.</p>
    </div>
  </footer>
  


 