
  <footer class=" hidden sm:inline p-3  shadow-sm   ">
    
    <div class="container mx-auto text-center">
      
      <p>&copy; 2023 IT meet. All rights reserved.</p>
    </div>
  </footer>
  


 