---
import { Image } from "astro:assets";
import Logo from "../assets/Logo.png";

---

<header
  class="text-gray-800 body-font shadow-sm mb-8 sticky w-full top-0 z-10 p-5 bg-white"
>
  
    <div
      class="max-w-xl flex items-center justify-between sm:px-0 px-6 mx-auto w-full"
    >
      <a
        href="/"
        class="flex title-font font-medium items-center text-gray-900  md:mb-0"
      >
        <Image src={Logo} alt="it-meet" class="w-28 px-3" />
      </a>
      <nav
        class="flex gap-4"
      >
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>



    </div>
  
 
</header>


