---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col flex-grow">
    <div
      class="content-wrapper max-w-xl sm:px-0 px-6 mx-auto w-full min-h-screen flex flex-col justify-between"
    >
      <div class="body-section">
        <Header />
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
